# Copy the values you need into /etc/profiler.env, then restart profiler.service.
# PROFILER_HOMES is the only setting most installations change.
PROFILER_HOMES=/home/youruser
PROFILER_POLL_INTERVAL=5
PROFILER_DEBOUNCE=0.75
PROFILER_BACKUP_KEEP=20
PROFILER_VALIDATE=true
PROFILER_CREATE_MISSING=true
PROFILER_LOG_LEVEL=INFO
